body {
  background: #E6ECF0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: hsl(0, 1%, 14%);
}

main {
  flex: 1 0 auto;
}

.color-black {
  color: hsl(0, 1%, 14%)!important;
}

.color-twitter {
  color: #2AA3EF!important;
}

.bg-twitter {
  background-color: #2AA3EF!important;
}

.twitter-hover {
  color: #E8F5FD;
}

.color-grey {
  color: #667785 !important;
}

.red {
  color: #e0245e;
}

.bold {
  font-weight: bold!important;
}

.rounded-border {
  border-radius: 110px;
}

.capitalize {
  text-transform: capitalize!important;
}

main#index {
  height: 100%;
}

main#index .row {
  margin-top: 8rem;
}

main#index h1 {
  margin-top: .3rem;
  font-size: 1.9rem;
  font-weight: bold;
  text-align: left
}

main#index p {
  font-weight: bold;
}

main#index a {
  width: 100%!important;
  border-radius: 110px;
  margin-bottom: 15px;
  text-transform: capitalize;
  font-weight: bold;
}

main#index a.login {
  background: white;
}

main#index a.login:hover {
  box-shadow: none;
  background-color: #EAF5FD;
}

main#index a.signup:hover {
  box-shadow: none;
  background: #106FBC!important;
}

.mt-0 {
  margin-top: 0;
}

.ml-0 {
  margin-left: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.mr-0 {
  margin-right: 0;
}

.m-0 {
  margin: 0;
}

.p-0 {
  padding: 0 !important;
}

.pt-0 {
  padding-top: 0!important;
}

.pl-0 {
  padding-left: 0!important;
}

.pr-0 {
  padding-right: 0!important;
}

.pb-0 {
  padding-bottom: 0!important;
}

.error {
  color: red;
}

.no-shadow {
  box-shadow: none;
}

.progress {
  background-color: #E8F5FD;
}

.progress .indeterminate {
  background-color: #2AA3EF;
}

.auth .card-action {
  background: #F5F8FA;
}

.invalid-feedback {
  display: none!important;
}

.input-field input[type]:focus {
  border-bottom: 1px solid #2AA3EF!important;
  box-shadow: 0 1px 0 0 #2AA3EF!important;
}

.input-field input[type].is-invalid:focus {
  border-bottom: 1px solid red!important;
  box-shadow: 0 1px 0 0 red!important;
}

.input-field .is-invalid {
  border-bottom: 1px solid red!important;
  box-shadow: 0 1px 0 0 red!important;
}

.input-field .is-invalid + .invalid-feedback {
  display: block!important;
  color: red!important;
}

.input-field textarea:focus {
  border-bottom: 1px solid #2AA3EF!important;
  box-shadow: 0 1px 0 0 #2AA3EF!important;
}

.input-field textarea:focus {
  border-bottom: 1px solid #2AA3EF!important;
  box-shadow: 0 1px 0 0 #2AA3EF!important;
}

.datepicker-date-display {
  background-color: #2AA3EF!important;
}

.is-today {
  color: #2AA3EF!important;
}

.datepicker-table td.is-selected {
  background: #2AA3EF;
  color: #fff!important; 
}

.datepicker-footer button {
  color: #2AA3EF!important;
}

/* Navbar */
.navbar {
  height: 48px;
  line-height: 46px;
  font-weight: bold
}

.navbar a, .navbar i {
  font-size: 1.1rem!important;
  line-height: 48px!important;
}

.navbar a {
  height: 48px;
  color: #66757f !important;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: .91rem!important;
}

.navbar a.active, .navbar ul a:hover {
  color: #2AA3EF !important;
  border-bottom: 3px solid #2AA3EF;
}

.navbar a:hover {
  background: transparent;
}

.navbar i.icon {
  margin-right: 5px!important;
}

.navbar .sidenav-trigger i {
  font-size: 1.5rem !important;
}

nav .container a#menuIcon {
  padding-left: 0!important;
  margin-left: 0!important;
}

#menuIcon i {
  color: #2AA3EF!important;
}

.navbar #search {
  /* background: #F5F8FA; */
  /* border-radius: 21px; */
  /* border: 1px solid #e6ecf0; */
  /* height: 32px; */
}

.navbar #searchBtn {
  margin-bottom: 8px;
  color: #999999;
}

.navbar .drop i {
  /* background-color: #999999;
  /* padding: .5rem .7rem; */
  line-height: 30px!important;
  height: 30px !important;
  background-color: #999999;
  /* padding: .5rem; */
  padding: 0 .5rem;
  border-radius: 50%;
}

.navbar .drop a:hover {
  background: transparent;
}

.navbar #tweetBtn {
  background: #2AA3EF;
  border-radius: 100px;
  text-transform: capitalize;
  font-weight: bold;
  height: 35px;
  color: white!important;
  line-height: 35px!important;
}

.navbar #tweetBtn:hover, .navbar #searchBtn {
  box-shadow: none;
}

#profileNav a {
  line-height: 13px !important;
  margin-right: 1.5rem;
  color: #66757f!important;
  font-size: .77rem!important;
  padding-top: 5px;
  text-align: center;
}

#profileNav a.active span {
  color: #2AA3EF;
}

#profileNav a:hover {
  background: transparent;
}

#profileNav span {
  color: #667785;
  font-weight: bold;
  font-size: 1.3rem;
  display: block;
  padding-top: 3px;
}

#user-profile {
  padding-top: 20px !important;
  margin-bottom: 20px;
}

#user-profile .card {
  margin: 0;
  background: transparent;
}

#user-profile .card-content {
  padding-top: 0;
}

#user-profile h1 {
  margin: 0;
  font-size: 1.3rem;
  font-weight: bold;
}

#user-profile h1 a, #user-profile .bio {
  color: #14171A;
}

#user-profile .handle, #user-profile .handle a {
  color: #657786;
}

#user-profile .bio {
  margin-top: 1rem;
}

#user-profile .card .card-action {
  border-top: none;
}


/* Tweet */
.main-container {
  /* max-width: 1300px; */
  /* padding-right: 1rem;
  padding-left: 1rem; */
  /* width: 70%; */

}

@media only screen and (min-width: 993px) {
  .main-container {
    width: 90%;
  }
}
@media only screen and (min-width: 601px) {
  .main-container {
    /* width: 100%; */
  }
}

.card-profile .bg-twitter {
  height: 6rem;
}

.img {
  padding: .8rem .9rem; 
  /* padding-top: .6rem; */
  /* background: #e5dede;
   */
  background-color: #999999;
  display: inline-block;
  border-radius: 50%;
  border: 4px solid white;
  position: relative;
  top: 55px;
  left: 10px;
}

.card {
  margin-top: 0;
}

.card-profile .card-content {
  padding-top: 4px;
  padding-bottom: 10px;
}

.card-profile .card-content p {
  padding-left: 70px;
  color: #14171A !important;
  font-weight: bold;
  font-size: 1.2rem;
}

.card-profile .card-content a {
  color: #14171A;
}

.card-profile .card-content a:hover {
  text-decoration: underline;
}

.card-profile .card-content span {
  color: #667785;
  font-weight: normal;
  font-size: .9rem;
  display: block;
}

.card-profile .card-action {
  padding-top: 0;
  padding-left: 12px;
  border-top: none;
} 

.card-profile.card .card-action:last-child a, #user-profile .card-action:last-child a {
  display: inline-block;
  color: #657786!important;
  font-weight: bold!important;
  font-size: .8rem;
  margin-right: 1.4rem!important;
  text-transform: capitalize !important;
}

.card-profile.card .card-action:last-child span, #user-profile .card-action:last-child span {
  display: block;
  font-size: 1.2rem;
}

.card-profile.card .isFollow {
  background: #E6ECF0;
  padding: .2rem .3rem;
  /* font-size: .7rem; */
  font-style: normal;
  border-radius: 5px;
  margin-left: 1rem;
}

#user-profile .card-action {
  padding: 0;
}

.tweet {
  background-color: #E8F5FD;
}

.tweet .card-content {
  padding-bottom: 0;
}

.tweet .card-action {
  border-top: 0;
}

.tweet input {
  border-radius: 20px;
} 

#tweets {
  margin-bottom: 10px;
}

#tweets .horizontal {
  border-bottom: 1px solid #e0e0e0;
  border-bottom: 1px solid #e6ecf0;
  margin-bottom: 0;
}

#tweets .avatar {
  display: inline-block;
  background-color: #999999;
  padding: .5rem .7rem;
  border-radius: 50%;
  margin-top: 1.9rem;
  margin-left: 1rem;
}

#tweets .card-content {
  padding-left: .9rem;
  padding-bottom: 0;
}

#tweets .card-content a .bold {
  color: #14171A;
}

#tweets .card-content a:hover .bold {
  color: #2AA3EF;
  text-decoration: underline;
}

#tweets .card-content small {
  position: relative;
  top: -4px;
}

#tweets .card-action {
  border-top: none;
  padding-left: .9rem;
  padding-bottom: 0;
  padding-top: 0;
  /* padding-bottom: .7rem; */
}

#tweets .card-action span {
  font-weight: bold;
  font-size: .9rem;
}  

#tweets .card-action i {
  padding-right: 1rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

#tweets .card-action a {
  /* padding: 1.2rem; */
  padding-left: 0;
}

#tweets .liked {
  color: rgb(224, 36, 94) !important;
  animation-name: grow;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}

@keyframes grow {
  0% {
    transform: scale(0);
  } 
  100% {
    transform: scale(2);
  }
}

.follow-btn {
  border: 1px solid #2AA3EF;
  border-radius: 100px;
  font-size: .7rem;
  font-weight: bold;
  padding: 0 1.4rem;
  height: 28px;
  line-height: 28px;
}

.follow-btn.following {
  color: white!important;
  background: #2AA3EF!important;
}


.follow-btn:hover {
  box-shadow: none;
  /* background-color: #E8F5FD !important; */
}

.collection {
  border: none;
}

.to-follow {
  padding: .1rem .7rem;
}

.to-follow .avatar {
  padding-left: 50px !important;
}

.to-follow .avatar a {
  font-size: 1rem;
  color: #14171A;
}

.to-follow .avatar a:hover .bold {
  color: #2AA3EF;
  text-decoration: underline;
}

.to-follow .avatar i.circle:first-child {
  left: .1rem!important;
}

.to-follow button {
  margin-top: .4rem;
}

.to-follow a {
  font-weight: normal;
  font-size: .8rem;
}

.footer {
  margin-top: 1rem;
}

/* Banner */
.banner {
  height: 200px;
  background: #2AA3EF;
  background-attachment: fixed;
  position: relative;
}

.banner a {
  position: absolute;
  top: 90px;
  display: block;
  z-index: 998;
  bottom: -50px;
  font-size: 2.8rem;
  margin-left: 4rem;
}

.banner a i {
  padding: 1.5rem 2rem;
  border-radius: 50%;
  border: 5px solid #fff;
  display: block;
  background-color:#999999;
}

@media (max-width: 992px) {
  .banner a {
    font-size: 1.8rem;
  }
}

@media (max-width: 622px) {
  .banner {
    height: 150px;
  }
  .banner a {
    top: 50px;
    margin-left: 1.5rem;
    font-size: 1.8rem;
  }
}

.class {
  height: 600px;
}

h5.modal-header {
  margin-left: 25px !important;
}

.personalInfo {
  margin-top: 20px !important;
}

.personalInfo .card-content {
  padding-top: 10px;
}

#editProfile {
  margin-top: 10px;
  background: transparent ;
}

#slide-out .name {
  font-weight: bold;
}

#slide-out .card {
  background: transparent;
}

#slide-out .card a {
  text-transform: capitalize;
  color: rgba(255, 255, 255, .9);
}

#slide-out .card span {
  font-weight: bold;
}

#about {
  padding-top: 4rem;
  padding-bottom: 4rem;
  font-weight: bold;
}

#about > p {
  color: rgba(255, 255, 255, .5);
  font-size: 1.4rem;
  margin-bottom: 5px;
}

#about > p + p {
  font-size: 4rem;
  line-height: 1;
  margin-top: 0;
}

@media (max-width: 500px) {
  #about > p { 
    font-size: 1rem;
  }
  #about > p + p { 
    font-size: 3rem;
  }
}