body {
  background: #E6ECF0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: hsl(0, 1%, 14%);
}

main {
  flex: 1 0 auto;
}

.color-black {
  color: hsl(0, 1%, 14%)!important;
}

.color-twitter {
  color: #2AA3EF!important;
}

.bg-twitter {
  background-color: #2AA3EF!important;
}

.twitter-hover {
  color: #E8F5FD;
}

.color-grey {
  color: #667785 !important;
}

.red {
  color: #e0245e;
}

.bold {
  font-weight: bold!important;
}

main#index {
  background: #2AA3EF;
  height: 100%;
}

.mt-0 {
  margin-top: 0;
}

.ml-0 {
  margin-left: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.mr-0 {
  margin-right: 0;
}

.m-0 {
  margin: 0;
}

.p-0 {
  padding: 0 !important;
}

.pl-0 {
  padding-left: 0!important;
}

.pr-0 {
  padding-right: 0!important;
}

.error {
  color: red;
}

.no-shadow {
  box-shadow: none;
}

.progress {
  background-color: #E8F5FD;
}

.progress .indeterminate {
  background-color: #2AA3EF;
}

.invalid-feedback {
  display: none!important;
}

.input-field input[type]:focus {
  border-bottom: 1px solid #2AA3EF!important;
  box-shadow: 0 1px 0 0 #2AA3EF!important;
}

.input-field input[type].is-invalid:focus {
  border-bottom: 1px solid red!important;
  box-shadow: 0 1px 0 0 red!important;
}

.input-field .is-invalid {
  border-bottom: 1px solid red!important;
  box-shadow: 0 1px 0 0 red!important;
}

.input-field .is-invalid + .invalid-feedback {
  display: block!important;
  color: red!important;
}

.input-field textarea:focus {
  border-bottom: 1px solid #2AA3EF!important;
  box-shadow: 0 1px 0 0 #2AA3EF!important;
}

.input-field textarea:focus {
  border-bottom: 1px solid #2AA3EF!important;
  box-shadow: 0 1px 0 0 #2AA3EF!important;
}

.datepicker-date-display {
  background-color: #2AA3EF!important;
}

.is-today {
  color: #2AA3EF!important;
}

.datepicker-footer button {
  color: #2AA3EF!important;
}

/* Navbar */
.navbar {
  height: 46px;
  line-height: 46px;
  font-weight: bold
}

.navbar a, .navbar i {
  font-size: 1.1rem!important;
  line-height: 46px!important;
}

.navbar a {
  height: 46px;
  
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: .91rem!important;
}

.navbar a.active {
  color: #2AA3EF !important;
  border-bottom: 3px solid #2AA3EF;
}

.navbar i.icon {
  margin-right: 5px!important;
}



/* Tweet */
.main-container {
  /* max-width: 1300px; */
  /* padding-right: 1rem;
  padding-left: 1rem; */
  /* width: 70%; */

}

@media only screen and (min-width: 993px) {
  .main-container {
    width: 90%;
  }
}
@media only screen and (min-width: 601px) {
  .main-container {
    /* width: 100%; */
  }
}

.card-profile .bg-twitter {
  height: 6rem;
}

.img {
  padding: .8rem .9rem; 
  /* padding-top: .6rem; */
  /* background: #e5dede;
   */
  background-color: #999999;
  display: inline-block;
  border-radius: 50%;
  border: 4px solid white;
  position: relative;
  top: 55px;
  left: 10px;
}

.card {
  margin-top: 0;
}

.card-profile .card-content {
  padding-top: 4px;
  padding-bottom: 10px;
}

.card-profile .card-content p {
  padding-left: 70px;
  color: #14171A !important;
  font-weight: bold;
  font-size: 1.2rem;
}

.card-profile .card-content a {
  color: #14171A;
}

.card-profile .card-content a:hover {
  text-decoration: underline;
}

.card-profile .card-content span {
  color: #667785;
  font-weight: normal;
  font-size: .9rem;
  display: block;
}

.card-profile .card-action {
  padding-top: 0;
  padding-left: 12px;
  border-top: none;
} 

.card-profile.card .card-action:last-child a {
  display: inline-block;
  color: #657786!important;
  font-weight: bold!important;
  font-size: .8rem;
  margin-right: 1.4rem!important;
  text-transform: capitalize !important;
}

.card-profile.card .card-action:last-child span {
  display: block;
  font-size: 1.2rem;
}

.tweet {
  background-color: #E8F5FD;
}

.tweet .card-content {
  padding-bottom: 0;
}

.tweet .card-action {
  border-top: 0;
}

.tweet input {
  border-radius: 20px;
} 

#tweets .horizontal {
  border-bottom: 1px solid #e0e0e0;
  border-bottom: 1px solid #e6ecf0;
  margin-bottom: 0;
}

#tweets .avatar {
  display: inline-block;
  background-color: #999999;
  padding: .5rem .7rem;
  border-radius: 50%;
  margin-top: 1.9rem;
  margin-left: 1rem;
}

#tweets .card-content {
  padding-left: .9rem;
  padding-bottom: 0;
}

#tweets .card-content a .bold {
  color: #14171A;
}

#tweets .card-content a:hover .bold {
  color: #2AA3EF;
  text-decoration: underline;
}

#tweets .card-content small {
  position: relative;
  top: -4px;
}

#tweets .card-action {
  border-top: none;
  padding-left: .9rem;
  padding-bottom: .7rem;
}

#tweets .card-action span {
  padding-left: .5rem;
}

.follow-btn {
  border: 1px solid #2AA3EF;
  border-radius: 100px;
  font-size: .7rem;
  font-weight: bold;
  padding: 0 1.4rem;
  height: 28px;
  line-height: 28px;
}

.follow-btn:hover {
  box-shadow: none;
  background-color: #E8F5FD !important;
}

.collection {
  border: none;
}

.to-follow {
  padding: .1rem .7rem;
}

.to-follow .avatar {
  padding-left: 50px !important;
}

.to-follow .avatar a {
  font-size: 1rem;
  color: #14171A;
}

.to-follow .avatar a:hover .bold {
  color: #2AA3EF;
  text-decoration: underline;
}

.to-follow .avatar i.circle:first-child {
  left: .1rem!important;
}

.to-follow button {
  margin-top: .4rem;
}

.to-follow a {
  font-weight: normal;
  font-size: .8rem;
}

.footer {
  margin-top: 1rem;
}