body {
  background: #E6ECF0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: hsl(0, 1%, 14%);
}

main {
  flex: 1 0 auto;
}

.color-black {
  color: hsl(0, 1%, 14%)!important;
}

.color-twitter {
  color: #2AA3EF!important;
}

.bg-twitter {
  background-color: #2AA3EF!important;
}

main#index {
  background: #2AA3EF;
  height: 100%;
}

.mt-0 {
  margin-top: 0;
}

.ml-0 {
  margin-left: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.mr-0 {
  margin-right: 0;
}

.m-0 {
  margin: 0;
}

.p-0 {
  padding: 0 !important;
}

.invalid-feedback {
  display: none!important;
}

.input-field input[type]:focus {
  border-bottom: 1px solid #2AA3EF!important;
  box-shadow: 0 1px 0 0 #2AA3EF!important;
}

.input-field input[type].is-invalid:focus {
  border-bottom: 1px solid red!important;
  box-shadow: 0 1px 0 0 red!important;
}

.input-field .is-invalid {
  border-bottom: 1px solid red!important;
  box-shadow: 0 1px 0 0 red!important;
}

.input-field .is-invalid + .invalid-feedback {
  display: block!important;
  color: red!important;
}

.datepicker-date-display {
  background-color: #2AA3EF!important;
}

.is-today {
  color: #2AA3EF!important;
}

.datepicker-footer button {
  color: #2AA3EF!important;
}